# Visual Studio Code
helloworld/main/.vscode/*

# これだとなぜダメ？
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# bazelがビルド時に生成するフォルダ
bazel-*/
MODULE.bazel*
